#bg{
  position: fixed;
  left:0;
  top:0;
}
.coffee-section{
  margin-top: 150px;
}
.coffee-section img{
  width:100%;
}
img{
  width:100%;
}
main{
  width:100%;
  position: absolute;
  scroll-snap-type: y mandatory;
}
.menu{
  scroll-snap-align: start;
}
#bg2{
  width:100%;
  height:100%;
}
.about{
  scroll-snap-align: start;
  background-color: white;
  position: relative;
}